<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">SFDX</a>
    <ul class="nav navbar-nav">
     
      <li>
        <a href="/allOrgs">All Orgs</a>
      </li>
      <li>
          <a href="/addOrgForm">Add Org</a>
      </li>
	  <li >
	  <a href="https://github.com/axlemax/sfdx">help</a>
	  </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>All orgs</h1>
  
<table class="table">
 <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Alias</th>
      <th scope="col">#</th>
	   <th scope="col"></th>
    </tr>
  </thead>
  <% orgs.forEach((org) => { %>
  <tr>
	<td><%= org.username %></td>
	<td><%= org.alias %></td>
	<td><button class="btn btn-primary" data-alias="<%=org.alias%>" onclick="openOrg('<%=org.alias%>')">open</button>
	<button class="btn btn-primary" data-alias="<%=org.alias%>" onclick="getDetails('<%=org.alias%>')">get details</button>
	<button class="btn btn-primary" data-alias="<%=org.alias%>" onclick="connectWithOrg('<%=org.alias%>')">Connect</button>
	<button class="btn btn-primary" data-alias="<%=org.alias%>" onclick="retrieveMetadata('<%=org.alias%>')">Retrieve</button>
	
	</td>
	<td>
	<div class="loader" name="<%=org.alias%>" style="display:none"></div>
	</td>
</tr>		
  <% }); %>
</table>

    </div>
	<pre id="refreieveData"></pre>
  </div>


<script>

function openOrg(orgAliasIs){
alert(orgAliasIs);
window.open('/openOrg?org='+orgAliasIs,'_self');
}


function getDetails(orgAliasIs){
alert(orgAliasIs);
window.open('/OrgInfo?org='+orgAliasIs,'_self');
}

function connectWithOrg(orgAliasIs){
window.open('/connect?org='+orgAliasIs,'_self');
}

function retrieveMetadata(orgAliasIs){

$('div[name ="'+orgAliasIs+'"]').show();
 $.ajax({
      type: 'GET',
      url: '/retrievemetadata?org='+orgAliasIs,
      success: function(data) {
       console.log('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>');
	   console.log(data);
	   $('#refreieveData').html(data);
	   
$('div[name ="'+orgAliasIs+'"]').hide();
      }
    });
}
</script>
<style>
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
      border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</body>
</html>

